<footer class="footer">
    <div class="footer-column">
        <h1>Kontaktní údaje</h1>
        <p>text</p>
    </div>
    <div class="footer-column">
        <h1>Adresa</h1>
        <p>text</p>
    </div>
</footer>