{% block nav %}
    <div class="navigation">
        <div class="logo">LOGO</div>
        <div class="navigation-links">
            <a href="{{url_for('views.home')}}" onclick="toggleMenu()">Domů</a>
{#            <a href="{{url_for('views.onas')}}">O nás</a>#}
            <a href="{{url_for('views.nabidka_stroju')}}" onclick="toggleMenu()">Nabídka strojů</a>
            <!-- <a id="login" href="/prihlaseni" onclick="toggleMenu()">Přihlásit se</a> -->

            <!-- Pokud je uživatel dispečer -->
            {% if typ_uctu == 1 %}
            <a href="{{url_for('views.nabidka_stroju')}}">Objednávky k potvrzeni</a>
            {% endif %}
            <!-- Pokud je uživatel technik -->
            {% if typ_uctu == 2 %}
            <a href="{{url_for('views.moje_zakazky')}}">Přiřazené objednávky</a>
            {% endif %}

            <!-- Pokud je uživatel přihlášen -->
            {% if user_name %}
            <a href="{{url_for('views.profil ')}}">{{ user_name }}</a>
            <a href="{{url_for('views.odhlaseni')}}">Odhlásit se</a>
            {% else %}
            <a id="login" href="{{url_for('views.prihlaseni')}}" onclick="toggleMenu()">Přihlásit se</a>
            {% endif %}
        </div>
        <div class="hamburger-menu" onclick="toggleMenu()">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
    </div>
    <header></header>
{% endblock %}