<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Půjčovna strojů</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>

<!--Zahlavi-->
<div class="navigation">
    <div class="logo">LOGO</div>
    <div class="navigation-links">
        <a href="/" onclick="toggleMenu()">Domů</a>
        <a href="index.html#o-nas" onclick="toggleMenu()">O nás</a>
        <a href="/nabidka-stroju" onclick="toggleMenu()">Nabídka strojů</a>
        <!-- <a id="login" href="/prihlaseni" onclick="toggleMenu()">Přihlásit se</a> -->

        <!-- Pokud je uživatel dispečer -->
        {% if typ_uctu == 1 %}
        <a href="/objednavky-k-potvrzeni">Objednávky k potvrzeni</a>
        {% endif %}
        <!-- Pokud je uživatel technik -->
        {% if typ_uctu == 2 %}
        <a href="/moje-zakazky">Přiřazené objednávky</a>
        {% endif %}

        <!-- Pokud je uživatel přihlášen -->
        {% if user_name %}
        <a href="/profil">{{ user_name }}</a>
        <a href="/odhlaseni">Odhlásit se</a>
        {% else %}
        <a id="login" href="/prihlaseni" onclick="toggleMenu()">Přihlásit se</a>
        {% endif %}
    </div>
    <div class="hamburger-menu" onclick="toggleMenu()">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
</div>

<!--Uvodni sekce-->
<div class="hero-section">
    <div class="hero-text">
        <h1>Půjčovna strojů</h1>
        <h2>Zadejte vaše preference a doručíme vám stroj do druhého dne</h2>
    </div>
    <div class="form-section">
         <!--<form id="filter-form" method="POST" action="{{ url_for('views.home') }}">-->
        <div class="input-group">
            <label for="machine-type">Typ stroje:</label>
            <select id="machine-type">
                <option value="default">Vyberte typ stroje</option>
                <!-- Vyplnění zápisy z tabulky Typ_stroje -->
                {% for typ_stroje_value in typ_stroje_values %}
                <option value="{{ typ_stroje_value }}">{{ typ_stroje_value }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="input-group">
            <label for="date-from">Od kdy:</label>
            <input type="date" id="date-from">
        </div>
        <div class="input-group">
            <label for="date-to">Do kdy:</label>
            <input type="date" id="date-to">
        </div>
        <button type="submit">OK</button>
         <!--</form>-->
        <div class="error-message"></div>
        <!--po vybrání by se měli vypsat věci zde-->
<div class="output-group">
    {% for result in results %}
        <div class="input-group">
            <label for="machine-type">Typ stroje:</label>
            <p>{{ result.typ_stroje.typ }}</p>
        </div>
        <div class="input-group">
            <label for="date-from">Od kdy:</label>
            <p>{{ result.datum_od }}</p>
        </div>
        <div class="input-group">
            <label for="date-to">Do kdy:</label>
            <p>{{ result.datum_do }}</p>
        </div>
        <hr>
    {% endfor %}
</div>

    </div>
</div>

<!--Jak to funguje sekce-->
<div class="jak-to-fuguje">
    <h1>Jak to funguje?</h1>
    <div class="info-boxes">
        <div class="info-box">
            <div class="icon"><i class="fas fa-search"></i></div>
            <h3>Výběr stroje</h3>
            <p>Vyberte si stroj, který nejlépe vyhovuje vašim potřebám.</p>
        </div>
        <div class="info-box">
            <div class="icon"><i class="fas fa-calendar-alt"></i></div>
            <h3>Rezervace termínu</h3>
            <p>Zvolte datum, kdy chcete stroj půjčit.</p>
        </div>
        <div class="info-box">
            <div class="icon"><i class="fas fa-truck"></i></div>
            <h3>Doručení stroje</h3>
            <p>Stroj vám doručíme přímo na místo určení.</p>
        </div>
    </div>
</div>

<!--O nas sekce-->
<div class="o-nas" id="o-nas">
    <div class="text-content">
        <h1>O nás</h1>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit amet, consectetuer adipiscing
            elit.
            Sed elit dui, pellentesque a, faucibus vel, interdum nec, diam. Nunc tincidunt ante vitae massa. Mauris
            dictum facilisis augue.
            Etiam neque. Praesent vitae arcu tempor neque lacinia pretium. Duis pulvinar. Sed ut perspiciatis unde omnis
            iste natus error sit
            voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis
            et quasi architecto beatae
            vitae dicta sunt explicabo. Mauris dolor felis, sagittis at, luctus sed, aliquam non, tellus. Sed ac dolor
            sit amet purus malesuada congue.
            Nullam sit amet magna in magna gravida vehicula. Maecenas ipsum velit, consectetuer eu lobortis ut, dictum
            at dui. In convallis.
            Mauris elementum mauris vitae tortor. </p>
    </div>
    <div class="image-content">
        <img src="/static/images/o-nas-image.jpg">
    </div>
</div>
</body>
<footer class="footer">
    <div class="footer-column">
        <h1>Kontaktní údaje</h1>
        <p>text</p>
    </div>
    <div class="footer-column">
        <h1>Adresa</h1>
        <p>text</p>
    </div>
</footer>
</html>